<main class="flex-col justify-center">
  <div class="bg-green-400 h-screen w-screen flex items-center justify-center">
    <div>
      <%= @inner_content %>
    </div>
  </div>
  <.flash_group flash={@flash} />
</main>
